# task1

**初始化**

在cmd命令行完成
python scripts/get_data.py qlib_data --target_dir ~/.qlib/qlib_data/cn_data --region cn

In [9]:
#导入相关库
import qlib
from qlib.data import D
from qlib.data.filter import NameDFilter
from qlib.data.filter import ExpressionDFilter

In [10]:
#测试
#给定时间范围内某些股票池的加载特征
nameDFilter = NameDFilter(name_rule_re='SH[0-9]{4}55')
expressionDFilter = ExpressionDFilter(rule_expression='$close>Ref($close,1)')
instruments = D.instruments(market='csi300', filter_pipe=[nameDFilter, expressionDFilter])
fields = ['$close', '$volume', 'Ref($close, 1)', 'Mean($close, 3)', '$high-$low']
D.features(instruments, fields, start_time='2010-01-01', end_time='2017-12-31', freq='day').head()

                          $close     $volume  Ref($close, 1)  Mean($close, 3)  \
instrument datetime
SH600655   2010-01-04  11.220483  38060176.0       10.885898        10.915109
           2010-01-08  10.858016  18646274.0       10.742505        10.903158
           2010-01-11  11.276244  38699916.0       10.858016        10.958921
           2010-01-12  11.590913  39598644.0       11.276244        11.241724
           2010-01-13  11.598879  34996700.0       11.590913        11.488679

                       $high-$low
instrument datetime
SH600655   2010-01-04    0.517807
           2010-01-08    0.346533
           2010-01-11    0.609419
           2010-01-12    0.533740
           2010-01-13    0.533740